{% extends  'users/section/main.html'%}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="login-page">
  <div class="form">
    <form class="login-form" action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <h2><i class="fas fa-lock"></i> Register</h2>
      <input type="text" placeholder="Full Name *" name="name" autocomplete="off" required/>
      <input type="text" placeholder="Username *" name="username" autocomplete="off" required/>
      <input type="email" placeholder="Email *" name="email" autocomplete="off" required/>
      <input type="password" placeholder="Password *" name="password1" autocomplete="off" required/>
      <input type="password" placeholder="Re-enter Password *" name="password2" autocomplete="off" required/>
      <button type="submit" value="submit">create</button>
      <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
      <p class="message"><a style="color: red;">
        {% for message in messages %}
            {{message}}
      {%endfor%}
    </a></p>
    </form>
  </div>
</div>
{% endblock %}
