{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block css%}{%endblock%}
    <title>{% block title %}{%endblock%}</title>
  </head>
  <body>
    {% include 'dms/section/nav.html' %}
    {% block content %}

    {% endblock %}

  </body>
  {% block script %}{%endblock%}
  {% include 'dms/section/footer.html' %}