{%load static%}

<div class="navbar-fixed">
    <nav class="nav-extended white">
      <div class="nav-wrapper white">
        <ul>
          <li>
            <a href="{% url 'index' %}" class="title grey-text text-darken-1"
              >DMS</a
            >
          </li>
        </ul>
        {%if search %}
        <form action="{% url 'search' %}" method="POST">
          {%csrf_token%}
          <div class="search-wrapper">
          <i class="material-icons">search</i>
          <input type="search" class="submit_on_enter" name="search" placeholder="Search" />
        </div>
      </form>
        {%endif%}
        <ul class="right">
          <li>
            <a href="#!"
              ><i class="material-icons grey-text text-darken-1">apps</i></a
            >
          </li>
          <!-- <li>
            <a href="{% url 'logout' %}"
              ><i class="material-icons grey-text text-darken-1"
                >close</i
              ></a
            >
          </li> -->
          <li>
            <a href="{% url 'edit'%}"
              ><img src="{{ user.image.url }}" alt="profile pic" class="circle"
            /></a>
          </li>
          <li>
            <a href="{% url 'logout'%}"
              ><img src="{% static 'media/logout.png'%}" alt="profile pic" class="circle"
            /></a>
          </li>
        </ul>
      </div>
      <div class="nav-wrapper nav-2">
        <ul>
          <li>
            <a
              href="{% url 'upload' %}"
              class="waves-effect waves-light btn btn-flat white-text"
              >New</a
            >
          </li>
        </ul>
        <ul class="right">
          <!-- <li>
            <a href="#!"
              ><i class="material-icons grey-text text-darken-1"
                >view_list</i
              ></a
            >
          </li>
          <li>
            <a href="#!"
              ><i class="material-icons grey-text text-darken-1">info</i></a
            >
          </li>
          <li>
            <a href="#!"
              ><i class="material-icons grey-text text-darken-1"
                >settings</i
              ></a
            >
          </li> -->
        </ul>
      </div>
    </nav>
  </div>

  <ul class="side-nav fixed floating transparent z-depth-0">
    <li {% if index %}class="active" {%endif%}>
      <a href="{% url 'index' %}"
        ><i class="material-icons blue-text text-darken-1">dashboard</i>My
        Files{{active}}</a
      >
    </li>
    <!-- <li>
      <a href="#"><i class="material-icons">devices</i>Computers</a>
    </li> -->
    <li {% if shared %}class="active" {%endif%}>
      <a href="{% url 'shared' %}"><i class="material-icons">people</i>Shared with me</a>
    </li>
    <li {% if search %}class="active" {%endif%}>
      <a href="{%url 'search'%}"><i class="material-icons">access_time</i>Search</a>
    </li>
    <!-- <li>
      <a href="#"><i class="material-icons">camera</i>Google Photos</a>
    </li>
    <li>
      <a href="#"><i class="material-icons">star</i>Starred</a>
    </li>
    <li>
      <a href="#"><i class="material-icons">delete</i>Trash</a>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a href="#"><i class="material-icons">cloud</i>Backup</a>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a href="#"><i class="material-icons">storage</i>Upgrade Storage</a>
    </li> -->
  </ul>