{% extends  'dms/section/main.html'%}
{% load static %}
{% block title %}Shared with Me{% endblock %}
{%block css%}
<style>
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /* width: 120px; */
    top: 100%;
    left: 100px;
  margin-left: -120px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  </style>

{% endblock%}

{% block content %}
    <div class="main">
      <div class="container-fluid">
        <p class="subheader">Files Uploded for All/ {{user.group}} Group</p>
        {% if data %}
        {% for d in data %}
        
        <div class="card-panel folder">
          <a href="{% url 'view' pk=d.id type='file' %}">
            <i class=" material-icons left">folder</i>
          </a>          
          <div class="tooltip"><a href="{{d.fileURL}}" style="text-decoration: none;color: black; overflow: hidden;" onMouseOver="this.style.color='blue'"
            onMouseOut="this.style.color='black'">{{d.org_name}}.{{d.extension}}
           </a> <span class="tooltiptext">Version : {{d.version}}</span>
          </div>         
        </div>
        {%endfor%}
        {%endif%}

        {% if data1 %}
        {% for d in data1 %}
        
        <div class="card-panel folder">
          <a href="{% url 'view' pk=d.id type='version' %}">
            <i class=" material-icons left">folder</i>
          </a>          
          <div class="tooltip"><a href="{{d.fileURL}}" style="text-decoration: none;color: black; overflow: hidden;" onMouseOver="this.style.color='blue'"
            onMouseOut="this.style.color='black'">{{d.org_name}}.{{d.extension}}
           </a> <span class="tooltiptext">Version : {{d.version}}</span>
          </div>         
        </div>
        {%endfor%}
        {%endif%}
  

    {% endblock %}
