{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-v4-grid-only@1.0.0/dist/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .sep{
        margin: 5px;
      }
    </style>
</head>
<body>
  <div class="container">
    <div class="col">
      <a href="{% url 'admin:index' %}" style="all: none; margin-top: 20px; flex-;" type="button" class="btn btn-outline-primary">Back</a>
      </div>
    <div class="row">
      <div class="col-5 sep">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-3 sep">
        <a href="{% url 'user_info'%}"><canvas id="myChart1"></canvas></a>
      </div>
      <div class="col-5 sep">
        <canvas id="myChart2"></canvas>
      </div>
      <div class="col-3 sep">
       <a href="{% url 'logs'%}"><canvas id="myChart3"></canvas></a>
      </div>
    </div>
    </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
        const ctx1 = document.getElementById('myChart1');
        const ctx2 = document.getElementById('myChart2');
        const ctx3 = document.getElementById('myChart3');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Total','Files', 'File Versions'],
            datasets: [{
              label: 'Files Info',
              data: [JSON.parse("{{ total|escapejs }}"),JSON.parse("{{ files|escapejs }}"),JSON.parse("{{ vc|escapejs }}")],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        new Chart(ctx1, {
          type: 'doughnut',
          data: {
            labels: ['Active User','Inactive User'],
            datasets: [{
              label: 'Users Info',
              data: [JSON.parse("{{ active_users|escapejs }}"),JSON.parse("{{ inactive_users|escapejs }}")],
              borderWidth: 1
            }]
          },
          });
        new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: ['Total','All', 'Management', 'Accounting', 'Sales', 'Technology'],
            datasets: [{
              label: 'Files according to Department',
              data: [JSON.parse("{{ total_dept|escapejs }}"),JSON.parse("{{ all|escapejs }}"),JSON.parse("{{ manage|escapejs }}"),JSON.parse("{{ account|escapejs }}"),JSON.parse("{{ sales|escapejs }}"),JSON.parse("{{ tech|escapejs }}")],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        new Chart(ctx3, {
          type: 'doughnut',
          data: {
            labels: ['Security Alert','Incident','Warning', 'Information'],
            datasets: [{
              label: 'Security Alerts',
              data: [0,JSON.parse("{{ incident|escapejs }}"),JSON.parse("{{ warning|escapejs }}"),JSON.parse("{{ info|escapejs }}"),],
              borderWidth: 1,
              backgroundColor: [
                'white',
      'red',
      'yellow',
      'green',
    ],
            }]
            
          },
        });

      </script> 
</body>
</html>