{% load static %}
<!doctype html>
<html lang="en">
  <head></head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sec/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sec/style.css' %}">

    <title>User Information</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      {%if messages%}
      {%for message in messages%}
      <h2 class="mb-5">{{message}}</h2>
      {%endfor%}
      {% else %}
      <h2 class="mb-5">User Information</h2>
      {%endif%}
      
      

      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>              
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Group</th>
              <th scope="col">Last Login</th>
              <th scope="col">Status</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {% if data %}
            {% for d in data%}
            <tr scope="row">
              <td>
                {{d.name}}
              </td>
              <td><a href="#">{{d.user}}</a></td>
              <td>
                {%if d.group == "restricted"%}
                <a style="color: orange;">{{d.group}}</a>
                {%else%}
                {{d.group}}
                {%endif%}
                
              </td>
              <td>{{d.user.last_login | timesince}} ago</td>
                {%if d.active == True %}
                <td>
                  <a href="{% url 'change_status' d.pk %}" style="color:green;">
                Active
              </a>
              </td>
                {%else%}
              <td>
                <a href="{% url 'change_status' d.pk %}" style="color:red; text-decoration: none;">
                Not Active
              </a>
              </td>
                {%endif%}
              </td>
              <td>{{d.remarks}}</td>
            </tr>
            {%endfor%}
            {%endif%}
          </tbody>
        </table>
      </div>


    </div>

  </div>

  </body>
</html>