alto-xml==0.0.5
asgiref==3.7.2
colorama==0.4.6
crispy-bootstrap4==2022.1
Django==4.2.5
django-admin-logs==1.0.2
django-auto-logout==0.5.1
django-autoslug==1.9.9
django-crispy-forms==2.0
django-jazzmin==2.6.0
django-material-admin==1.8.6
docx2txt==0.8
numpy==1.26.1
opencv-python-headless==4.8.1.78
packaging==23.2
pdf2image==1.16.3
Pillow==10.0.1
pypdf==3.16.4
pytesseract==0.3.10
sqlparse==0.4.4
svgwrite==1.4.3
tesseract-ocr-utils==0.0.6
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
whitenoise==6.5.0
